@model IEnumerable< EFTask.Models.ViewModel.OrderViewModel>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Items</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-info" asp-action="Create">Order </a>
        <a class="btn btn-info" asp-action="CreateOrder">Order </a>

        <a class="btn btn-info" asp-action="Edit">Edit Order </a>

    </div>
        <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <br /> 
  
    <form method="post" action="Create" class="col-12">
        <div class="col-12">
            <table class="table table-striped  border">
                <tr class="table-info">
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["ItemNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Item Name</a>

                    </th>
                  

                    @* <th class="col-6">

                        @Html.DisplayNameFor(m=>m.Items)
                        </th>*@
                 
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
                    </th>
                    @*  <th class="col-6">
                        @Html.DisplayNameFor(m=>m.Price)
                        </th>*@
                  
                    <th>
                        @Html.DisplayNameFor(m=>m.UnitType)
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Select To Order
                    <th />
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m=>item.ItemName)
                        </td>
                     
                        <td>
                            @Html.DisplayFor(m=>item.Price)
                        </td>

                      
                        <td>
                            @Html.DisplayFor(m=>item.UnitType)
                        </td>
                        <td>

                            <input type="number" min="1" step="1" style="width:80px; height:30px" />
                        </td>
                        <td>

                            <input type="checkbox" asp-route-id="@item.ItemId" class="btn btn-success" />
                        </td>
                    </tr>
                }
            </table>
        </div>
        <button style="width:200px" type="submit" value="Order" class="btn btn-success">Order</button>
    </form>
</div>
